{% include 'cdnlines.html' %}
<html>
<head>
    <title>libraryProject</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <form method="POST" action="{% url 'updatesave' book.id %}" >
                {% csrf_token %}

                <label>Enter Book Name:</label>
                <input type="text" name="book_name" class="form-control" value="{{ book.book_name }}">

                <label>Enter Author Name:</label>
                <input type="text" name="author_name" class="form-control" value="{{ book.author_name }}">

                <label>Enter Number of Pages:</label>
                <input type="number" name="pages" class="form-control" value = {{ book.pages }}>

                <label>Enter Prise of Book</label>
                <input type="number" name="prise" class="form-control" value ="{{ book.prise }}">

                <label>Enter Release Date</label>
                <input type="date" name="released_date" class="form-control" value = "{{book.released_date}}">

                <input type="submit" value="Update" class="btn btn-success">
                <input type="reset" value="Cancel" class="btn btn-danger">

            </form>
        </div>
    </div>
</div>
</body>
</html>